<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Label</key>
	<string>com.literalcreative.cloudflared</string>

	<key>ProgramArguments</key>
	<array>
		<string>/usr/local/bin/cloudflared</string>
		<string>--config</string>
		<string>/Users/literalcreative/.cloudflared/config.yml</string>
		<string>tunnel</string>
		<string>run</string>
		<string>signalripper</string>
	</array>

	<key>RunAtLoad</key>
	<true/>

	<key>KeepAlive</key>
	<true/>

	<key>ThrottleInterval</key>
	<integer>10</integer>

	<key>StandardOutPath</key>
	<string>/Users/literalcreative/srv/logs/cloudflared.out.log</string>

	<key>StandardErrorPath</key>
	<string>/Users/literalcreative/srv/logs/cloudflared.err.log</string>
</dict>
</plist>
